streamlit
torch
transformers
numpy
streamlit_lottie
pandas
matplotlib
seaborn
scikit_learn
plotly
bokeh
altair
pydeck
pandas_profiling
streamlit_pandas_profiling
streamlit_embedcode
streamlit-aggrid
streamlit-folium
google-cloud-bigquery
db-dtypes
openai
